*{
    box-sizing: border-box;
}

body{
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
}

.logo{
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 40px;
}

.logo-img{
    width: 110px;
    height: 130px;
}

.hide{
    display: none;
}

.red{
    background: #FF3030;

}

.yellow{
    background: #FF922E;

}

.green{
    background: #2FBE34;
}

.red-text{
    color: #FF3030;

}

.yellow-text{
    color: #FF922E;

}

.green-text{
    color: #2FBE34;
}