header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    z-index: 1;
    background-color:#FB6B6B;
}

header img{
    width: 52px;
    height: 60px;
    margin-right: 10px;
}

